.chapterInfo{
	-fx-padding :3, 0, 0, 0;
	
}

.latestUpdateTitle{
	-fx-font-size   :16;
	-fx-font-weight :bold;
}

.latestUpdateChapterTitle{
	-fx-font-size :14;
}

.latestUpdateGroup{
	-fx-font-size :12;
	
}

.latestUpdateUpdatedAgo{
	-fx-font-size :12;
	-fx-alignment :center-right;
}

.updateBox{
	-fx-padding           :7, 7, 7, 7;
	-fx-border-insets     :3, 3, 3, 3;
	-fx-background-insets :3, 3, 3, 3;
}

.latestUpdatedRow{
	-fx-background-color  :#212328;
	
	-fx-padding           :3;
	-fx-border-insets     :7, 7, 7, 7;
	-fx-background-insets :7, 7, 7, 7;
}