@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*{
	-fx-font-family :ubuntu, sans-serif;
	-fx-text-fill   :#DEEFEF;
}

.root{
	-fx-background-color :#121318;
}

#navBar{
	-fx-background-color :#212328;
}

#searchButton{
	-fx-background-color :#FF6740;
	-fx-background-insets:5;
}

.text-field{
	-fx-background-color :#85878C;
	-fx-background-insets:5;
}

.label{
	-fx-text-fill :#DEDEDE;
	-fx-font-size :14;
	
}


.scroll-pane{
	-fx-background-color :transparent;
}

.scroll-pane .viewport{
	-fx-background-color :transparent;
}

#readerCoreBorder{
	-fx-background-color :#272A2F;
}