.seasonalNodes{
	-fx-padding           :5px;
	-fx-border-insets     :5px;
	-fx-background-insets :5px;
	
	-fx-background-color  :#212328;
	-fx-background-radius :10;
}

.seasonalCovers{
-fx-arc-height:10;
-fx-arc-width:10;
}

.seasonalTexts{
	-fx-padding           :5px;
	-fx-border-insets     :5px;
	-fx-background-insets :5px;
}

.seasonalTitle{
	-fx-font-weight       :bold;
	-fx-font-size         :20;
	
	
	-fx-padding           :0, 0, 5px, 0;
	-fx-border-insets     :0, 0, 5px, 0;
	-fx-background-insets :0, 0, 5px, 0;
}

.seasonalDescription{
	-fx-font-size :17;
}

.seasonalButton{
	-fx-background-color :#ff6740;
	-fx-border-color     :transparent;
}