*{
	-fx-font-size   :20;
	-fx-font-family :ubuntu, sans-serif;
	}

.root{
	-fx-background-color :#272A2F;
	}

#navBar{
	-fx-background-color :#2A2F33;
	}

.text-field{
	-fx-background-color :#24282B;
	-fx-text-fill        :#94999D;
	-fx-font-size   :16;
	}

#searchButton{
	-fx-background-color :#48494B;
	-fx-text-fill        :#94999D;
	}